.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 60px 20px;
  
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 100;
  margin-bottom: 20px;
  flex: 1;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #006D77;
  border-radius: 4px;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 20px;
  background-color: #006D77;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-container button:hover {
  background-color: #008E99;
}
